.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 6rem;
  pointer-events: none;
}

.add-todo-section {
  display: flex;
  height: 8rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-todo-section .input {
  width: 80vw;
  border: none;
  border: solid 1px #d8d8d8;
  border-radius: 10px;
  font-size: 1.25rem;
  height: 3rem;
  padding: 0 0.75rem;
}

.add-todo-section .add-button {
  margin: 0 1rem;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  height: 3rem;
  width: 30vw;
  color: white;
  background-color: #282c34;
  border-color: #d8d8d8;
}

.add-todo-section .add-button:hover {
  color: #282c34;
  background-color: white;
  transition: all 0.5s;
}

.todo-list-section {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.todo-list-section ul {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  width: 40vw;
}

.todo-list-section ul li {
  justify-content: center;
  display: flex;
  align-items: center;
}

.todo-list-section .todo {
  margin: 0.5rem 0;
  border: 1px solid #d8d8d8;
  border-radius: 8px 0 0 8px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cross-box {
  background: #282c34;
  color: #d8d8d8;
  font-size: 2em;
  width: 40px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.App-header {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* This will prevent onFocus styling that we don't want */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
